<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Portfolio</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>
<body>

    <header>
        <div class="header-wrap">
            <h1>Kyle Coppedge</h1>
            <nav>
                <a href="{{ '/' | relative_url }}">Home</a>
                <!-- The text inside the links has been updated below -->
                <a href="{{ '/ElectricalEngineering/' | relative_url }}">Electrical Engineering</a>
                <a href="{{ '/SoftwareEngineering/' | relative_url }}">Software Engineering</a>
                <a href="{{ '/3dPrintingDesigns/' | relative_url }}">3D Printing Designs</a>
                <a href="{{ '/CyberSecurity/' | relative_url }}">Cyber Security</a>
                <a href="{{ '/portfolio/' | relative_url }}">Summary</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <main>
            {{ content }}
        </main>
    </div>

</body>
</html>
